:root{
    --color_main: black;
    --color_interface: rgb(49, 49, 49);
    --color_interface_dark: rgb(25,25,25);
    --color_interface_light: rgb(70,70,70);
    --color_highlights: rgb(120, 20, 120);
}

body{
    background-color: var(--color_main);
    color: white;
}



#navigation{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 15%;
    background-color: var(--color_interface);

    box-shadow: 0px 0px 30px 50px var(--color_interface);

}

#switchTheme{
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 50px;
    width: 50px;
    border-radius: 30%;
    border: 2px solid var(--color_highlights);
    background-color: var(--color_interface);
    cursor: pointer;
}

#switchTheme:hover{
    background-color: var(--color_interface_light);
}


#game{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 80%;
    background-color: var(--color_main);
}

#inputGame{
    display: none;
}

#dartboardInput{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 800px;
    width: 800px;
    transform: translateY(-50%) translateX(-50%);
    
}

#inputBoard{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 710px;
    height:710px;
    transform: translateY(-50%) translateX(-50%);
}

.dartboardButton{
    cursor: pointer;
}

#switchInputType{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translateY(-420px) translateX(-50%);
}

#tableInput{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 700px;
    width: 800px;
    transform: translateY(-50%) translateX(-50%);
    background-color: var(--color_interface);
}

#inputTableHead{
    position: absolute;
    top: 50%;
    left: 55%;
    width: 710px;
    height: 150px;
    transform: translateY(-350px) translateX(-50%);
}


#createGame{

    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 500px;
    width: 500px;
    transform: translateY(-50%) translateX(-50%);
    background-color: var(--color_interface);

}