:root{
    --color_main: black;
    --color_interface: rgb(49, 49, 49);
    --color_interface_dark: rgb(35,35,35);
    --color_interface_light: rgb(70,70,70);
    --color_highlights: rgb(120, 20, 120);
    --color_highlights_bright: rgb(197, 36, 197);
    --color_error: rgb(130, 0, 0);
    --color_contrast: white;
}

body{
    background-color: var(--color_main);
    color: var(--color_contrast);
}

#contentContainer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#content{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1920px;
    height: 1080px;
    transform: translateX(-50%) translateY(-50%) scale(0.5);
    background-color: var(--color_main);
}

#navigation{
    position: absolute;
    left: 0;
    top: 0;
    height: 7%;
    width: 100%;
    background-color: var(--color_interface);
}

.navigationMenuButton{
    position: relative;
    top: 10%;
    height: 80%;
    left: 10px;
    border-radius: 10px;
    border: 2px solid var(--color_highlights); 
}
.navigationMenuButton:enabled{
    background-color: var(--color_interface);
    color: var(--color_contrast);
    cursor: pointer;
}
.navigationMenuButton:disabled{
    background-color: var(--color_interface_dark);
    color: black;
}
.navigationMenuButton:hover:enabled{
    background-color: var(--color_interface_light);
}
.navigationMenuButton:hover:disabled{
    border: 2px solid var(--color_error);
}

#switchTheme{
    position: absolute;
    top: 50%;
    right: 10px;
    height: 50px;
    width: 50px;
    transform: translateY(-50%);
    border-radius: 30%;
    border: 2px solid var(--color_highlights);
    background-color: var(--color_interface);
    cursor: pointer;
}
#switchTheme:hover{
    background-color: var(--color_interface_light);
}

#clientSync{
    position: absolute;
    top: 50%;
    right: 70px;
    height: 50px;
    width: 50px;
    transform: translateY(-50%);
    border-radius: 30%;
    border: 2px solid var(--color_highlights);
    background-color: var(--color_interface);
    cursor: pointer;
}
#clientSync:hover{
    background-color: var(--color_interface_light);
}

.fullScreen{
    position: absolute;
    left: 0;
    top: 7%;
    height: 93%;
    width: 100%;
}
.realFullScreen{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#createGame{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 500px;
    width: 500px;
    transform: translateY(-50%) translateX(-50%);
    background-color: var(--color_interface);
}

#activePlayerList{

    position: absolute;
    left: 25px;
    top: 25px;
    height: 150px;
    width: 200px;
    overflow-y: scroll;
    border: 1px solid black;
    background-color: var(--color_interface);

}

#inactivePlayerList{

    position: absolute;
    left: 25px;
    top: 200px;
    height: 150px;
    width: 200px;
    overflow-y: scroll;
    border: 1px solid black;
    background-color: var(--color_interface);

}

#newPlayer_CreateGame{

    position: absolute;
    left: 75px;
    bottom: 50px;
    height: 50px;
    width: 100px;
    overflow-y: scroll;
    border: 1px solid black;
    background-color: var(--color_interface);
    border: 2px solid var(--color_highlights);
    cursor: pointer;
    border-radius: 10px;

}

#newPlayer_CreateGame:hover{
    background-color: var(--color_interface_light);
}

#createGameForm{
    position: absolute;
    left: 55%;
    bottom: 5%;
    height: 90%;
    width: 40%;

}


#gameStats{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--color_interface);
    z-index: 100;
}

#gameStatisticDiv{
    position: absolute;
    top: 50%;
    left: 50px;
    width: 1400px;
    height: 800px;
    border: 1px solid var(--color_contrast);
    transform: translateY(-50%);
}

#gameResultsDiv{
    position: absolute;
    top: 50%;
    right: 50px;
    width: 400px;
    height: 800px;
    border: 1px solid var(--color_contrast);
    transform: translateY(-50%);
}
#gameResultsTitle{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
}
#gameResultsRanking{
    position: absolute;
    top: 150px;
    left: 0px;
    width: 100%;
    height: 600px;
    text-align: center;
    overflow-y: scroll;
}

#ongoingGameDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 90%;
    transform: translateY(-50%) translateX(-130%);
    border: 3px solid var(--color_highlights);
    border-radius: 10px;
    text-align: center;
}

#allGamesDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 90%;
    transform: translateY(-50%) translateX(30%);
    border: 3px solid var(--color_highlights);
    border-radius: 10px;
    text-align: center;
}

.ongoingGameSubpoints{
    position: relative;
    margin-top: 70px;
    left: 50%;
    top: 0;
    width: 70%;
    height: 20%;
    transform: translateX(-50%);
    border: 1px solid var(--color_contrast);
}
.ongoingGameSubpoints:hover{
    cursor: pointer;
    background-color: var(--color_interface);
}

.allGamesSubpoints{
    position: relative;
    margin-top: 70px;
    left: 50%;
    top: 0;
    width: 70%;
    height: 20%;
    transform: translateX(-50%);
    border: 1px solid var(--color_contrast);
}
.allGamesSubpoints:hover{
    cursor: pointer;
    background-color: var(--color_interface);
}

#allGamesGameListDiv{
    overflow-y: scroll;
}

.clickableText{
    cursor: pointer;
    background-size: cover;
}
.clickableText:hover{
    background-color: rgba(255,255,255,0.1);
}

#newPlayerDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 90%;
    transform: translateY(-50%) translateX(-130%);
    border: 3px solid var(--color_highlights);
    border-radius: 10px;
    text-align: center;
}
#showImageDiv{
    position: absolute;
    top: 60%;
    left: 50%;
    height: 200px;
    width: 200px;
    transform: translateX(-50%);
    border: 3px solid var(--color_highlights);
    border-radius: 10px;
    text-align: center;
    overflow-x: hidden;
}
#createPlayerButton{
    position: absolute;
    top: 90%;
    left: 50%;
    width: 30%;
    height: 5%;
    transform: translateX(-50%);
    background-color: var(--color_interface_dark);
    border: 1px solid var(--color_highlights);
    border-radius: 10px;
    color: var(--color_contrast);
    text-align: center;
    cursor: pointer;
}
#createPlayerButton:hover{
    background-color: var(--color_interface);
    border: 3px solid var(--color_highlights_bright);
}

#allPlayersDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 90%;
    transform: translateY(-50%) translateX(30%);
    border: 3px solid var(--color_highlights);
    border-radius: 10px;
    text-align: center;
}
#allPlayersListDiv{
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 60%;
    border: 2px solid var(--color_highlights);
    border-radius: 10px;
    text-align: center;
}
#allPlayersAlltimeStatsDiv{
    position: absolute;
    top: 80%;
    left: 15%;
    width: 70%;
    height: 15%;
    border: 2px solid var(--color_highlights);
    border-radius: 10px;
    text-align: center;
}